.addBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.addBtn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.add {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

.addBtn p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'Christmas Squad';
    font-size: 3rem;
    color: #333;
    text-decoration: none;
}

.add:hover {
    transform: scale(1.3);
    transition: transform 1s ease;
}

.backBtn {
    padding-left: 1.5rem;
}
