
.card-text{
    overflow-y: scroll;
    height: 10rem;
}

.hats{
    height: 8rem; 
}

.cardSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.headingPage h3{
    text-align: center;
}


.elfNav{
    display: grid;
    grid-template-columns: 130px 1fr;
}

.countToys{
    grid-column: 1;
    font: 13px Arial, Helvetica, sans-serif;
    margin-left: 15px;
    justify-content: space-around;
    height: 60%;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 20px;
    background-color: var(--card);
    border-radius: 10px;
    padding: 5px;
}
.countToys1{
    grid-column: 1;
    grid-row: 1;
    text-align: start;
}

.countToys2{
    grid-column: 2;
    grid-row: 1;
    text-align: end;
}

.countTotal{
    grid-column-start:1;
    grid-column-end:3;
    grid-row: 2;
    text-align: center;
    padding: 8px;
}

.count{
    margin: 2px;
}

.elfNav .addBtn{
    grid-column: 2;
    padding-right: 130px;
}
.elfNav :hover{
    transform: scale(1.1);
}

.elfNav .p:hover{
    transform: none;
}

.elfNav .count:hover{
    transform: none;
}

.elfNav .countToys1:hover{
    transform: none;
}

.elfNav .countToys2:hover{
    transform: none;
}

.elfNav .addBtn:hover{
    transform: none;
}

