
.card-text{
    overflow-y: scroll;
    height: 10rem;
}

.hats{
    height: 8rem; 
}

.cardSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.headingPage h3{
    text-align: center;
}


.elfNav{
    display: grid;
    grid-template-columns: 160px 1fr;
}

.countToysGrid{
    grid-column: 1;
    margin-left: 40px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.countToys{
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 20px;
    font: 15px Arial, Helvetica, sans-serif;
    background-color: var(--card);
    border-radius: 10px;
    width: 100%;
    height: 80%;

}
.countToys1{
    grid-column: 1;
    grid-row: 1;
    text-align: start;
}

.countToys2{
    grid-column: 2;
    grid-row: 1;
    text-align: end;
}

.countTotal{
    grid-column-start:1;
    grid-column-end:3;
    grid-row: 2;
    text-align: center;
    padding-bottom: 8px;
    font-size: 17px;
}

.count{
    margin: 2px;
}

.elfNav .addBtn{
    grid-column: 2;
    padding-right: 160px;
}
.countToysGrid :hover{
    transform: scale(1.1);
}

.elfNav .count:hover{
    transform: none;
}

.elfNav .countToys1:hover{
    transform: none;
}

.elfNav .countToys2:hover{
    transform: none;
}

.elfNav .addBtn:hover{
    transform: none;
}

