footer {
    padding: 1rem;
    background-color: var(--darkRed);
    color: var(--beige);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;
    font-size: 2rem;
}

.footerLinks {
    display: flex;
    gap: 1.2rem;
}

.footerLink {
    padding: 0.6rem;
    border-radius: 2.5rem;
    background-color: var(--beige);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--darkRed);
}

.footerLink:hover {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.footerIcon {
    width: 3.2rem;
    height: 3.2rem;
    vertical-align: -1rem;
}

