@font-face {
    font-family: 'Christmas Squad';
    src: url('./fonts/christmas_squad/Christmas\ Squad\ -\ Personal\ Use.otf');
}

header {
    background-color: var(--darkRed);
    color: var(--beige);
    padding: 1rem;
}

h1 {
    text-align: center;
    font-family: 'Christmas Squad';
    font-size: 5rem;
    margin-bottom: 1.7rem;
}

header img {
    width: 5rem;
    transition: transform 1s ease;
}

header img:hover {
    transform: scale(1.2);
}

.headerNav {
    display: flex;
    justify-content: center;
}

.headerNavLink {
    padding: 0.6rem;
    border-radius: 2.5rem;
    background-color: var(--beige);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--darkRed);
    margin-bottom: 0.5rem;
    transition: color 0.4s ease;
    transition: background-color 0.4s ease;
}

.headerNavLink:hover {
    background-color: white;
    color: var(--darkRed);
}

.headerNavLink:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.headerNavLink:last-child {
    padding: 0.6rem 1.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.headerNavLinkActive {
    color: white;
    background-color: var(--green);
}
