
@import url(variables.css);
@import url(header.css);
@import url(footer.css);
@import url(home.css);
@import url(elf.css);
@import url(santa.css);
@import url(addBtn.css);
@import url(cards.css);
@import url(forms.css);
@import url(scrollBar.css);
@import url(table.css);

/*#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}*/

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    background-color: var(--beige);
	font-size: 16px;
    padding: 0;
    margin:0;
}

main{
    background-color: var(--beige);
}
